html,body{
    background-color: gray;
    margin: 0;
    height: 100vh;
    width: 100vw;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    overflow:hidden
}

#sidebar{
    grid-area: span 4 / span 1;
    border: solid;
    border-color: blueviolet;
}

#createnew{
    border: solid;
    border-color: aqua;
}

#content{
    grid-area:  span 4 / span 4;
    border: solid;
    overflow-y:scroll;
}

.project{
    margin: 15px;
    padding: 15px;
}

.toDo{
    background-color: aqua;
    padding: 10px;

}


#header{
    grid-area: span 1 / span 5;
    border: solid;
    border-color: red;
}

#popup{
    background-color: aqua;
    width: 300px;
    height: 300px;
    z-index: 102;
    position: absolute;
    /* display: inline-block; */
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}



